<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Chinmay Chougule</span><br>
        <span> <span class="auto-type" style="color: var(--blue);"></span> Developer</span>
    </div>

    <div class="profile">
        <div class="profile-bg">
    
        </div>
        <img src="../../../docs/assets/profile-pic.png" alt="">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed(".auto-type",{
    strings: ["Web","Python", "Java"],
    typeSpeed: 150,
    backSpeed: 150,
    loop: true
  })
</script>
</div>
