:root {
    --blue: #6495ED;
    --blue-light: #87CEEA;
    --gray-light: #BDBDBD;
    --dark-gray: #263238;
    --black: #212121;
}

*{
    margin:0%;
    box-sizing: border-box;

}

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1500px;
    outline: 0px solid white;
}

h1{
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 1px;
    color: var(--blue);
    outline: 1px solid white;
    font-family: 'Roboto Condensed', sans-serif;
}